#wrapper
  header
    h1 backbone social media test
  #content
    #search-form
      ul#search-tab.clearfix
        li#search-twitter.selected twitter    
        li#search-facebook facebook                
      ul#search-categories.clearfix        
        li#search-twitter-categories.active
          span.button.selected timeline
          span.button image          
        li#search-facebook-categories
      input#search-input
    #search-content        
      ul#search-content-twitter-timeline.active initial timeline
      ul#search-content-twitter-image initial image
      ul#search-content-facebook initial facebook
script(id='twitter-template', type='text/template')
  |   <li class='tweet clearfix'>
  |     <a href='http://twitter.com/<%= result.from_user %>' >
  |       <img src=<%=result.profile_image_url%> >
  |     </a>
  |     <div class='tweet-user'><%=result.from_user%></div>
  |     <div class='tweet-text'><%= result.text %></div>
  |   </li>
script(id='facebook-template', type='text/template')        
  |   <li class='tweet clearfix'>
  |     <a href='http://facebook.com/profile.php?id=<%= result.from.id %>' >
  |       <img src='https://graph.facebook.com/<%= result.from.id %>/picture'>
  |     </a>
  |     <div class='tweet-user'><%= result.from.name %></div>
  |     <div class='tweet-text'><%= result.message %></div>
  |   </li>
script(id='image-template', type='text/template')
  |   <li class='image'>
  |     <div>
  |       <img src='<%= result.small_thumbnail %>' >
  |     </div>
  |   </li>