#wrapper      
  #content.clearfix
    #left-column
      #article
        label headline
        input#header-input
        label description
        textarea#description-input
        textarea#article-editor
        ol#article-list
    #right-column
      #search
        #search-tab
          ul
            li
              a(href='#search-categories-twitter') twitter
            li
              a(href='#search-categories-facebook') facebook
            li
              a(href='#search-categories-youtube') youtube
          #search-categories-twitter
            span.button.selected search
            span.button image
            span.button user 
            span.button id         
          #search-categories-facebook
          #search-categories-youtube
            span.button search
        input#search-input
        #search-content
          ul#search-content-related initial related
          ul#search-content-twitter-search.active initial search
          ul#search-content-twitter-user initial user
          ul#search-content-twitter-id initial id
          ul#search-content-twitter-image initial image
          ul#search-content-facebook initial facebook
          ul#search-content-youtube-search initial youtube
script(id='youtube-search-template', type='text/template')
  | {{# models }}
  |   <li class='search-item clearfix' data-model-id-str={{ id }} >
  |     <a href=''>
  |       <img src={{ thumbnail_s }}>
  |     </a>
  |     <div class='title'>{{ title }}</div>
  |     <div class='description'>{{ description }}</div>
  |   </li>
  | {{/ models }}
script(id='twitter-search-template', type='text/template')
  | {{# models }}
  |   <li class='search-item clearfix' data-model-id-str={{ id_str }} >
  |     <a href='http://twitter.com/{{ from_user }}'>
  |       <img src={{ profile_image_url }} >
  |     </a>
  |     <div class='user'>{{ from_user }}</div>
  |     <div class='text'>{{ text }}</div>
  |   </li>
  | {{/ models }}
script(id='facebook-search-template', type='text/template')
  | {{# models }}
  |   <li class='search-item clearfix'>
  |     <a href=''>
  |       <img src={{ profile_image_url }} >
  |     </a>
  |     <div class='user'>{{ from_user }}</div>
  |     <div class='text'>{{ text }}</div>
  |   </li>
  | {{/ models }}
script(id='image-search-template', type='text/template')
  | {{# models }}
  |   <div>
  |     <img src={{ small_thumbnail }} >
  |   </div>
  | {{/ models }}
script(id='quote-list-template', type='text/template')
  | {{# models }}
  |   <li class='article-item clearfix twitter-quote' data-model-cid='{{ cid }}'>
  |     <span class='delete-button' >x</span>
  |     <span class='add-button' >+</span>
  |     {{{ renderArticle this }}}
  |   </li>
  | {{/ models }}
script(id='twitter-article-template', type='text/template')
  | <div class='twitter-quote-content clearfix'>
  |   <div class='tweet-user'>{{ from_user }}</div>
  |   <div class='tweet-text'>{{ text }}</div>
  |   <a href='http://twitter.com/{{ from_user }}' >
  |     <img src={{ profile_image_url }} >
  |   </a>
  | </div>
script(id='text-article-template', type='text/template')
  | <div class='article-item-text'>
  |   {{{ markdown text }}}
  | </div>
script(id='youtube-article-template', type='text/template')
  | <div class='clearfix'>
  |   {{{ embedYoutube this }}}
  | </div>
script(id='unknown-template', type='text/template')
  | <p>unknown key : {{ key }}</p>
include scripts.xml