#wrapper
  header
    h1 backbone social media test
  #content
    #search-tab
      ul                
        li
          a(href='#search-categories-twitter') twitter
        li
          a(href='#search-categories-facebook') facebook
      #search-categories-twitter
        span.button.selected timeline
        span.button image          
      #search-categories-facebook            
    input#search-input
    #search-content        
      ul#search-content-twitter-timeline.active initial timeline
      ul#search-content-twitter-image initial image
      ul#search-content-facebook initial facebook
script(id='twitter-template', type='text/template')
  |     <a href='http://twitter.com/<%= model.from_user %>' >
  |       <img src=<%= model.profile_image_url %> >
  |     </a>
  |     <div class='tweet-user'><%=model.from_user%></div>
  |     <div class='tweet-text'><%= model.text %></div>
script(id='facebook-template', type='text/template')        
  |     <a href='http://facebook.com/profile.php?id=<%= model.from.id %>' >
  |       <img src='https://graph.facebook.com/<%= model.from.id %>/picture'>
  |     </a>
  |     <div class='tweet-user'><%= model.from.name %></div>
  |     <div class='tweet-text'><%= model.message %></div>
script(id='image-template', type='text/template')
  |     <div>
  |       <img src='<%= model.small_thumbnail %>' >
  |     </div>
script(src='/javascripts/libs/jquery/jquery-1.7.1.js')
script(src='/javascripts/jquery-ui-1.8.17.custom.min.js')
script(src='/javascripts/libs/underscore/underscore.js')
script(src='/javascripts/libs/backbone/backbone.js')
script(src='/javascripts/views/home/main.js')