!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/#{view}.css')    
    script(src='/javascripts/require.js', data-main='/javascripts/views/#{view}/main.js')
  body!= body