#wrapper
  header
    h1 Popcorn test  
  #content
    //#ajust.button ajust span
    #video
    #footnote
    #time-input
      label start
      input#time-input-start
      label end
      input#time-input-end
    input#text-input  
    #text-container
      span(data-start=2, data-end=4) this is test line.
      span(data-start=4, data-end=5) I should do this by database later.
      span It is still test stage.