@import 'html5'

div
 display block
 margin 0
 padding 0

html, body
  margin 0
  padding 0

body 
  background #6B6B6B

#wrapper
  width 100%
  
header
  h1
    font-size 3em
  background #999  
  
  
#content
  width 600px
  margin 0 auto
  
#search-form
  $active-background = #AAA  
  border-radius(9px)
  border 1px solid #999    
  padding 10px
  margin-bottom 9px  
  tab-height = 20px
  background $active-background
  #search-tab
    padding .2em .2em 0
    padding-bottom 0
    margin 0
    background #BCAAC0
    border 1px solid #0F0F0F      
    font-size 1.8em    
    border-radius(9px)      
    li
      white-space nowrap
      position relative
      top 1px
      display inline
      cursor pointer
      border-top-radius(4px)
      background #995356      
      border 1px solid #992927
      border-bottom 0 !important
      margin .2em 1px 0
      padding 0 .6em      
      &.selected
        background $active-background
        cursor default
        padding-bottom 1px
        margin-bootom 0              
  #search-categories
    min-height 20px
    line-height 20px
    margin 10px
    padding 0
    background $active-background
    li
      display none
      .button
        margin 0 4px
      &.active      
        display block           
  
#search-input
  width 90%
  font-size 2em  
  padding 6px

#search-content      
  border-radius(9px)
  border 1px solid #999
  min-height 300px
  overflow-y auto
  height 600px  
  ul
    margin 20px
    padding 0
    display none
    &.active
      display block
    li.tweet
      display block
      list-style none
      border 1px solid #D2D2D2
      border-radius(4px)
      margin 12px 0
      padding 0      
      a
        float left
        margin 10px
      .tweet-user
        font-weight bold
        font-size 1.1em
        margin 4px 0 2px 4px
      .tweet-text
        margin 0 8px 8px 8px
    li.image
      display inline-block
      vertical-align middle
      width 130px
      height 130px
      img
        max-width 120px
        max-height 120px
        display block



  
.button
  border-radius(9px)
  display inline
  background #996969
  font-size 1.2em
  margin 1em
  padding .4em .4em
  cursor pointer
  &:hover
    background #999
  &.selected
    cursor default
    background #999
  
  
  