@import 'html5'

div
 display block
 margin 0
 padding 0

html, body
  margin 0
  padding 0

body 
  background #6B6B6B

#wrapper
  width 100%
  
header
  h1
    font-size 3em
  background #999  
  
  
#content
  width 600px
  margin 0 auto
  
input#text-input 
  border-radius(4px)
  background #999
  margin 1em
  padding .2em .4em
  margin 0
  border none
  outline 0
  font-size 2em
  width 100%

#text-container
  width 100%
  font-size 1.3em
  line-height @font-size * 1.4
  background #7E7E7E
  border-radius(4px)
  padding 10px  
  span
    margin 0 .3em
    display inline
    background #AEAEAE
    border-radius(2px)
    padding 0 .3em
    cursor pointer
    &.editing
      background #995B52
    &.highlight
      background #A7393D
    &:before
      content ''
      
#time-input
  label
    &:after
      content ' : '
  input
    margin 4px
    

#footnote
  padding 10px
  margin 10px
  line-height 20px
  height 20px
  background #0F0F0F
  opacity .9
  color #CECECE
  
.button
  border-radius(9px)
  display inline
  background #996969
  font-size 1.2em
  margin 1em
  padding .4em .4em
  cursor pointer
  &:hover
    background #999
  &.selected
    cursor default
    background #999
  
  
